{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">  <!-- Cambiado a navbar-dark y bg-dark -->
  <div class="container-fluid">
    <a class="navbar-brand home-btn fw-bold fst-italic" href="/">HOME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link blogs-btn fw-bold fst-italic" href="/blog/post">BLOGS</a> 
        </li>
        <li class="nav-item">
          <a class="github-btn btn btn-sm" href="https://github.com/Chepoooo" target="_blank">
            <i class="bi bi-github"></i> Github
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>